* {
    margin: 0;
    padding: 0;
}
body{
    width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
}
ol ul{
    text-align: center;
    float: left;   
}
ol ul a{
    display: block;
    font-size: 40px;
    height: 60px;
    padding: 0 40px;
    text-align: center;
    color: gray;
}
.text{
    font-size: 25px;
    color: white;
    margin: 0 auto;
    background-color: black;
    text-align: center;
    max-width: 800px;
}
.footer {
    position: absolute;
    left: 20%;
    bottom: 0;
    width: 100%;
    height: 50px;
}
main{
    display: flex;
}
@media (max-width:960px) {
    .text{
        width: 100%;
        font-size: 30px;
    }
    u{
        display:flex;
    }
    .footer {
        position: absolute;
        font-size: 30px;
        bottom: -500px;
    {
        height: :100px;
        width:100px;
    }
}
   
}
@media (max-width:320px) {
    .text{
        width: 100%;
        color: red;
        font-size: 40px;
    }
    .footer {
        position: absolute;
        font-size: 40px;
        bottom: -1000px;
   
}
